div{
 background-color: aqua;
 aspect-ratio: 12/4;
 font-size: clamp(1rem, 1.5rem, 2rem) ;
 width: 50vw;
 height: 50vh;
}

p{
    font-size: clamp(2rem, 4rem, 3rem);
}

.another-div{
    background-color: blueviolet;
    height: 50%;
    width: 50%;
    
}