*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

html, body{
    height:100%;
}

div{
 background-color: aqua;
 aspect-ratio: 12/4;
 font-size: clamp(1rem, 1.5rem, 2rem) ;
 width: 50vw;
 height: 50vh;
}

p{
    font-size: clamp(2rem, 4rem, 3rem);
}

.another-div{
    background-color: blueviolet;
    height: 50%;
    width: 50vx;
    max-width: 500px;
    min-width: 250px;
    
}

@media (max-width : 720px){
    .another-div{
        width: 25vw;
    }
}